<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1>The Home Page <%= 4 + 5 + 1%> <%= 'hello world'.toUpperCase() %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptatum error natus aut, mollitia
    officia aspernatur eos laborum at aperiam atque veniam amet asperiores ullam, tempore blanditiis, dolores
    praesentium similique?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, repellat. Fuga iste ut repellendus quia, ducimus
    assumenda! Omnis magni laborum nesciunt quibusdam veniam harum. Sapiente minima similique iure assumenda
    voluptatum!</p>

<%- include('partials/footer') %>